.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 3;

  &_content {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    & > h1 {
      color: white;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      padding: 0rem 3rem;
    }
    & > p {
      color: white;
      font-size: 1.5em;
      font-weight: normal;
      text-align: justify;
      padding: 0rem 0rem;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &_content {
      & > h1 {
        color: black;
      }
      & > p {
        color: black;
      }
    }
  }
}
