.banner {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &_photo {
    display: none;
  }
  > img {
    position: absolute;
    width: 90vw;
    height: -webkit-fill-available;
  }
  z-index: 1;
}
.card {
  max-width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
}

.title {
  font-size: clamp(3rem, 10vw, 6rem);
  color: white;
  font-family: Carena, sans-serif;
  text-shadow: -5px 5px #ff9c03;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  animation: changeColors 20s ease-in-out 0s infinite forwards;
}
.subtitle {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
}
.date {
  color: white;
}

.Confirm_button {
  height: 3.5rem;
  width: 18rem;
  border-radius: 1.5rem 0.25rem 1.5rem 0.25rem;
  margin: 2rem;
  background-color: #2f332e;
  color: white;
  font-size: 1.5em;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  &:hover {
    background-color: rgba(47, 51, 46, 0.8);
  }
}
.confirm {
  background-color: #ff9c03;
  &:hover {
    background-color: rgb(255, 156, 3, 0.8);
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 0rem 0rem;
  }
  .card {
    padding: 1rem 0rem;
    justify-content: space-around;
    gap: 0rem;
  }
  .banner_photo {
    height: 60vh !important;
    width: 100% !important;
    overflow: hidden;
    border-radius: 3rem;
    & > img {
      height: -webkit-fill-available;
      width: inherit;
    }
  }
  .title {
    text-shadow: -3px 3px #ff9c03;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .Confirm_button {
    width: 100%;
    height: 4rem;
    bottom: 0;
    margin: 0 1rem;
    position: fixed;
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: #2f332e;
    z-index: 10;
  }
  .confirm {
    background-color: #ff9c03;
    &:hover {
      background-color: rgb(255, 156, 3, 0.8);
    }
  }
}
