.header {
  z-index: 1;

  background-color: rgba(45, 161, 171, 0.7);
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  padding: 0 3rem;
  justify-content: space-between;
  z-index: 10;
  &_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    &_item {
      color: white;
      font-family: serif;
      font-weight: 200;
    }
  }
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  & > h1 {
    font-size: clamp(1em, 5vw, 1.5rem);
    font-weight: normal;
  }
  & > button {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
  }
}
.header_black {
  background-color: rgba(238, 247, 248, 0.7);
  & > nav {
    & > ul {
      & > li {
        & > a {
          color: black;
        }
      }
    }
  }
  & > .profile {
    & > h1 {
      color: black;
    }
    & > button {
      color: black;
    }
  }
}
@media (max-width: 1024px) {
  .profile {
    h1 {
      font-size: 1.2em;
    }
  }
}
@media (max-width: 900px) {
  .header {
    justify-content: center;
    padding: 0;
    position: absolute;
    & > nav {
      display: none;
    }
    &_menu {
      display: none;
    }
  }
}
