.instructions {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 4rem;
  &_content {
    max-width: 1440px;
    width: -webkit-fill-available;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    & > h1 {
      color: black;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-self: flex-start;
      list-style: none;
      & > li {
        & > svg {
          margin-right: 1rem;
          fill: black;
        }
        color: black;
        font-size: 1.5em;
        font-weight: normal;
        text-align: start;
        font-family: system-ui;
      }
    }
  }
}
@media (max-width: 768px) {
  .instructions {
    padding: 2rem 2rem;
    & > h1 {
      color: black;
    }
    margin-bottom: 6rem;
    & > ul {
      & > li {
        & > svg {
          fill: black;
        }
        color: black;
      }
    }
  }
}
